node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

.vs/*
.vscode/*

ios/.expo/settings.json

# macOS
.DS_Store

#so we dont accidentally commit the firebase config to github
components/Firebase/firebaseConfig.js
